* {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
	margin: 0px;
}

#title {
	margin-top: 60px;
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

h1, h2 {
	text-align: center;
	margin: 0px;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 30px;
	margin: 50px 0px 30px 20px;
}

hr {
	border-top: 1px solid black;
	width: 700px;
}

.square {
	border: 1px solid black;
	width: 20px;
	height: 21px;
	font-family: monospace;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
}

.shrunken .square {
	width: 15px;
	height: 16px;
	font-size: 13px;
}

.square.off.fading {
	border: 1px dashed #313131;
	color: #313131;
}

.square.off.faded {
	border: 1px dotted #5f5f5f;
	color: #5f5f5f;
}

.square.on.fading {
	border: 1px dashed #313131;
	background-color: #313131;
}

.square.on.faded {
	border: 1px dotted #5f5f5f;
	background-color: #5f5f5f;
}

.square.on {
	background-color: black;
	color: white;
}

.square.on::after {
	content: "1";
}

.square.off {
	background-color: white;
	color: black;
}

.square.off::after {
	content: "0";
}

.square.undefined {
	background: linear-gradient(to bottom right, white 50%, black 50%);
	/*color: #ff630f;*/
}

/*.square.undefined::after {
	content: "?";
}*/

.square.empty {
	border: none;
}

.clicky {
	cursor: pointer;
}

.cell-table {
	border-collapse: collapse;
}

.cell-table td {
	padding: 0px;
}

table {
	display: inline-block;
}

.in-text {
	margin-top: 4px;
	margin-bottom: -4px;
}

.rule-container {
	display: grid;
	place-items: center;
	margin: 40px 0px 40px 0px;
}

.rule-container.row {
	display: grid;
	place-items: center;
	margin: -10px 0px -10px 0px;
}

.rule-container > div {
	display: flex;
	gap: 15px;
}

.main-rule-container {
	margin: 0px;
	margin-bottom: 60px;
}

#rule-num-container {
	font-size: 30px;
	width: 80px;
	display: grid;
	align-items: center;
}

.no-display {
	display: none !important;
}

input[type=text] {
	width: 55px;
	padding: 4px 6px;
	display: inline;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 24px;
}

#canvas {
	position: absolute;
	z-index: -1;
	/*
	background-image: linear-gradient(45deg, black 25%, transparent 25%), linear-gradient(-45deg, black 25%, transparent 25%), linear-gradient(45deg, transparent 75%, black 75%), linear-gradient(-45deg, transparent 75%, black 75%);
	background-size: 40px 40px;
	background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
	*/
}

#content {
	position: absolute;
	
	background: linear-gradient(#00000000 150px, rgba(255, 255, 255, 0.9) 250px, rgba(255, 255, 255, 0.9) 1600px, white 1800px);
	
	padding: 230px max(25%, 100px) 15vh max(25%, 100px);
	
	transition-property: margin-top;
	transition-duration: 0.75s;
}

#content.lower {
	margin-top: 60vh;
}

p, blockquote, li {
	font-size: 20px;
}

blockquote {
	border-left: 4px solid #ffb62e /*rgb(167, 167, 167)*/;
	padding: 12px 0px 12px 16px;
	margin-left: 0px;
}

ul {
	margin-top: -10px;
}

.rule-button {
	color: #ff8400;
}

.rule-button:active {
	color: #ffb62e;
}

code {
	font-family: monospace;
}

img {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

#show-canvas-button {
	float: right;
	margin-right: 30px;
	margin-top: -25px;
	font-size: 20px;
	border-radius: 4px;
	border: 2px solid black;
	padding: 3px 8px 3px 8px;
}

#show-canvas-button:active {
	background-color: #ccc;
}